* {
    margin: 0;                
  padding: 0;               
  box-sizing: border-box;  
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;      
  color: #ffffff;                   
  line-height: 1.6;  
}

.container {
  max-width: 700px;                        
  margin: 40px auto;                   
  background: linear-gradient(50deg, blue, purple);                  
  padding: 20px 30px;                      
  border-radius: 8px;                    
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
}

header {
    text-align: center;        
    margin-bottom: 20px;   
}

.top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.about {
    border: solid 3px;
    border-radius: 10px;
    width: 260px;
    height: 200px;
    padding: 40px;

}

.photo {
  position: absolute;
  top: 165px;
  margin-left: 220px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: solid 5px;
}

.contact { 
  border: solid 3px;
  width: 260px;
  border-radius: 10px;
  padding: 40px;
  padding-left: 40px;
  justify-content: flex-end;
}

.contact p { 
  font-size: 10px;
}

.me {
  text-align: center;
  margin-top: 10px;
  border: solid 3px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
}

.interest{
  width: 200px;
  border: solid 3px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  
}

.two {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.language {
  border: solid 3px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  
}

.language h3 {
  font-size: 15px;
}

.language p {
  font-size: 12px;
}

.progress-container {
  width: 200px; 
  height: 10px;
  background-color: #e0e0e0; 
  border-radius: 10px; 
  overflow: hidden; 
}

.progress-bar {
  height: 100%;
  background-color: #662daa; 
}


.four {
  display: flex;
  justify-content: space-around;
}


.personal {
  border: solid 3px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.personal ul {
  font-size: 15px;
  padding-left: 10px;
}

.unlock {
  margin-top: 10px;
  border: solid 3px;
  border-radius: 10px;
  
  padding: 20px;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire {
  display: flex;
  justify-content: center;
}